*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
.logo{
  font-size: 3rem;
  font-weight: 800;
  color: rgb(0, 132, 255);
}
.hero{
background-color: #edeffa;
border-bottom-right-radius: 300px;
overflow: hidden;
}
header{
  height: 75vh;
  width: 85vw;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.menu{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.menu li{
  list-style-type: none;
}
.btn {
  padding: 10px 29px;
  border-radius: 36px;
  font-size: 20px;
  background-color: rgb(0, 132, 255);
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  transition:all 0.1s;
  border:0px solid #aef954 ;
  outline:'none';
  display: inline-block;
}

.actv{
  box-shadow:0 5px #d1d1d3;
}
.actv:active {
  box-shadow:0 2px #404344;
  transform: translateY(5px);
}
.header_bottom{
  display: flex;
  margin-top: 2rem;
  margin: auto 1rem;
  position: relative;
  /* height: 80%; */
  overflow: hidden;
}
.header_bottom h2{
  font-size: 2.7rem;
  font-weight: 600;
}
.word{
  color: rgb(0, 132, 255);
}
.header_bottom .left,.right{
  flex: 1;
}
.right,.left{
  max-height: 100%;
  overflow: hidden;
}
.header_img{
  /* width: 100%; */
  float: right;
  height: 100%;
}
.left{
  padding: 2rem;
  padding-left: 0;
}
.para{
  color: rgb(94, 93, 93);
  margin-top: 3rem;
  padding: 1rem auto;
  width: 90%;
  font-size: 1.2rem;
}
.main_form{
  display: flex;
  margin-top: 3rem;
  gap: 9px;
}
.input_box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
input{
  padding: 0.2rem;
  border: none;
  outline: none;
}
.rectangle{
  background-color: rgb(0, 132, 255);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.rectangle .search{
  width: 25px;
  height:25px;
}
.search_result{
  width: 85vw;
  margin: auto;
  margin-top: 2rem;
}
.subhead,.stephead{
  font-weight: 600;
  font-size: 2rem;
  color: rgb(0,132,255);
  text-align: center;
}
.stephead{
  margin-top: 2rem;
}
.doctorbox img{
  width: 8rem;
  height: 8rem;
}
.doctorbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 400px;
  padding: 1.3rem;
  background-color: #edeffa;
  gap: 1rem;
}
.rightside{
  flex: 3;
}
.drname{
  font-size: 1.4rem;
}
.rightside p{
  margin-bottom: 1rem;
}
.doctors{
margin-top: 2rem;
display: flex;
flex-wrap: wrap;
gap: 3rem;
} 
.doctors img{
object-fit: contain;
padding: 0.4rem;
border-radius: 50%;
}

.steps{
display: flex;
width: 85vw;
margin: auto;
justify-content: space-between;
margin-top: 1rem;
margin-top: 2rem;
}
.step{
background-color: #edeffa;
padding: 1rem;
width: 20rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 0.7rem;
}
.step img{
width: 2rem;
height: 2rem;
}

.pr{
font-size: 0.8rem;
text-align: center;
}

.footer{
margin-top: 3rem;
}

.bottomsection{
width: 85vw;
margin: auto;
margin-top: 3rem;
height: 50vh;
position: relative;
display: flex;
}
.bottomsection h2{
font-size: 3rem;
font-weight: 500;
}
.bottomsection .leftsection{
position: relative;
height: 100%;
}
.bottomsection img{
height: 100%;
}
.rightsection .para{
margin-top: 1rem;
margin-bottom: 1rem;
}

.rightsection img{
width: 1.6rem;
height: 1.6rem;
}
.checkpoints{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
a{
color: inherit;
text-decoration: none;
}



.loading{
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;
}
